@import url(/assets/css/styles.css);

/* mobile */

.carrusel-title{
    font-family: 'montserratregular';
    font-weight: bold;
    color: var(--first-color);
    width: 80%;
    text-align: start;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 220px;
    z-index: 1;
    height: 0;
}
.title-capacitacion{
    font-family: 'montserratbold';
    height: 50px;
    background-color: var(--text-color);
    text-align: center;
    color: var(--first-color);
}
.title-capacitacion h1{
    font-size: 20px;
    padding: 10px;
}

.capacitacion{
    height: 300px;
    background-color: aquamarine;
    margin: 20px;
}

@media screen and (min-width: 1024px){

    .carrusel-title{
        bottom: 240px;
        width: 60%;
        font-size: 50px;
        margin-left: 7.5%;
    }
}    