.contact-description{
    font-family: 'montserratbold';
    height: 120px;
    background-color: var(--text-color);
    text-align: center;
    color: var(--first-color);
    margin-top: 0;
    margin-bottom: 20px;
}
.contact-description h1{
    padding-top: 5px;
    font-size: 25px;
}
.link-phone{
    color: white;
}

.map iframe{
    width: 100%;
}

@media screen and (min-width: 768px){
    .contact-description{
        height: 50px;
    }
    .map{
        width: 80%;
        margin: auto;
    }
    .map iframe{
        height: 500px;
    }
    
}