.contact-description{
    font-family: 'montserratbold';
    height: 120px;
    background-color: var(--text-color);
    text-align: center;
    color: var(--first-color);
    margin-top: 0;
    margin-bottom: 20px;
}
.contact-description h1{
    padding-top: 5px;
    font-size: 25px;
}
.link-phone{
    color: white;
}

.map iframe{
    width: 100%;
}
.carrusel-title{
    font-family: 'montserratregular';
    font-weight: bold;
    color: var(--first-color);
    width: 80%;
    text-align: start;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 220px;
    z-index: 1;
    height: 0;
}

@media screen and (min-width: 768px){
    .contact-description{
        height: 50px;
    }
    .map{
        width: 80%;
        margin: auto;
    }
    .map iframe{
        height: 500px;
    }
    
}
@media screen and (min-width: 1024px){

    .carrusel-title{
        bottom: 240px;
        width: 60%;
        font-size: 50px;
        margin-left: 7.5%;
    }
}    