@import url(/assets/css/styles.css);

/* mobile */


.carrusel-title{
    font-family: 'montserratregular';
    color: var(--first-color);
    width: 80%;
    text-align: start;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 220px;
    z-index: 1;
    height: 0;
    font-weight: bold;
}

.title-empresa{
    font-family: 'montserratbold';
    height: 50px;
    background-color: var(--text-color);
    text-align: center;
    color: var(--first-color);
}
.title-empresa h1{
    font-size: 20px;
    padding: 10px;
}

.info-description-right h1,
.info-description-left h1{
    font-size: 13px;
}

.video-institucional{
    background-color: black;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}
.video-institucional p{
    color: white;
}

@media screen and (min-width:768px){

    .info-description-right h1,
    .info-description-left h1{
        font-size: 35px;
    }

}

@media screen and (min-width: 1024px){

    .carrusel-title{
        bottom: 240px;
        width: 60%;
        font-size: 50px;
        margin-left: 7.5%;
    }
}    