/* montserrat */

@font-face {
    font-family: 'montserratblack';
    src: url('/assets/fonts//assets/fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('/assets/fonts//assets/fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('/assets/fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextralight';
    src: url('/assets/fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium';
    src: url('/assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url('/assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratthin';
    src: url('/assets/fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* roboto */


@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/assets/fonts/roboto-condensed.bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-condensed.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/assets/fonts/roboto-condensed.regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-condensed.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedlight';
    src: url('/assets/fonts/roboto-condensed-light_allfont.es-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-condensed-light_allfont.es-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ttnorms */

@font-face {
    font-family: 'tt_normsblack';
    src: url('/assets/fonts/ttnorms-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normsblack_italic';
    src: url('/assets/fonts/ttnorms-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normsbold';
    src: url('/assets/fonts/ttnorms-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normsbold_italic';
    src: url('/assets/fonts/ttnorms-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normsitalic';
    src: url('/assets/fonts/ttnorms-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normslight';
    src: url('/assets/fonts/ttnorms-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tt_normsregular';
    src: url('/assets/fonts/ttnorms-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/ttnorms-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}