.title-products{
    font-family: 'montserratbold';
    height: 50px;
    background-color: var(--text-color);
    text-align: center;
    color: var(--first-color);
}
.title-products h1{
    font-size: 20px;
    padding: 10px;
}
.carrusel-title{
    font-family: 'montserratregular';
    font-weight: bold;
    color: var(--first-color);
    width: 80%;
    text-align: start;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 220px;
    z-index: 1;
    height: 0;
}
.product-container{
    padding-top: 10px;
    margin: 0 20px;
}

.info-img{
    background-color: #B4B7BA;
    /* height: 230px; */
}

.info-description-right{
    bottom: 70px;
    height: 10px;
    padding-right: .5rem;
}
.info-description-right h1{
    color: black;
    font-size: 17px;
}

.fondo-form{
    margin-top: 20px;
}

@media screen and (min-width: 768px){
    
    .info-description-right{
        bottom: 120px;
        align-items: flex-end;
        padding-top: 0;
        width: inherit;
        padding-right: 3rem;
    }
    .info-description-right h1{
        font-size: 35px;
    }
   
}

@media screen and (min-width: 1024px){

    .carrusel-title{
        bottom: 240px;
        width: 60%;
        font-size: 50px;
        margin-left: 7.5%;
    }
    
   
    .info-description-right{
        bottom: 105px;
        padding-right: 20px;
    }
    .info-description-right .dry{
        font-size: 23px;
        color: black;
    }
    .info-description-right .steel{
        font-size: 24px;
        width: 130px;
        color: black;
        text-align: end;
    }
   .info-description-right img{
    width: 55px;
   }
   .product-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: auto;
    }
}