.product-card{
    /* width: 90%;
    margin: auto; */
    margin-top: 100px;
}
.product-img{
    height: 240px;
    margin-left: auto;
}
.product-description-left{
    margin: 0 15px;
    position: relative;
    bottom: 30px;
}
.product-description{
    margin-top: 10px;
    text-align: justify;
}

.product-description-left h1{
    border-bottom: 6px solid #2D69AC;
    width: max-content;
    font-size: 17px;
}
.product-description-left p{
    color: #2D69AC;
    font-family: 'montserratbold';
    padding: 10px 0;
}
.product-description-left span{
    font-family: 'roboto_condensedregular';
    padding-top: 10px;
}

.selector{
    text-align: center;
    background-color: grey;
}
.btn-select{
    background-color: transparent;
    border-width: 0;
    margin-bottom: 15px;
    margin-right: 3px;
    color: white;
    border-bottom: 1px solid white;
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    width: auto;
    margin-top: 15px;
}
.active-select{
    border-bottom: 3px solid white;
    font-weight: bold;      
}
.submenu-perfiles{
    display: none;
}
.title-perfiles{
    height: 40px;
    margin-top: 5px;
}
.cuadro-selector i{
    font-size: 50px;
    position: relative;
    bottom: 46px;
    left: 75px;
}
.show-perfiles{
    display: block;
}
.menu-perfiles-desktop{
    display: none;
}
.detail-cards{
    overflow: hidden;
}
.detail-container{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detail-description h1{
    font-family: 'montserratbold';
}
.detail-description p{
    text-align: justify;
}
.detail-description p,
.detail-description ul li{
    font-family: 'montserratregular';
}

.descarga{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.icon-descarga{
    font-size: 30px;
    color: black;
}
.icon-descarga:hover{
    color: #2D69AC;
}
.detail-description span{
    font-family: 'montserratbold';
    font-size: 10px;
    padding-left: 5px;
}

.detail-img{
    display: flex;
    flex-direction: column;
}
.foto{
    padding: 5px;
    height: 225px;
    width: fit-content;
    margin: 10px auto;   
}

.cuadro{
    display: none;
}
.cuadro-mobile{
    width: fit-content;
    margin: auto;
}

@media screen and (min-width: 768px){

    .product-img{
        height: 390px;
    }
    .detail-img{
        flex-direction: inherit;        
        width: 85%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .detail-description{
        text-align: justify;
        width: 85%;
        margin: auto;
    }      
    .product-description-left h1{
        font-size: 35px;
    }
    .detail-description p{
        width: 70%;
    }
    .foto{
        height: 230px;
    }
    .cuadro-selector{
        display: none;
    } 
    .menu-perfiles-desktop{
        display: block;
    }
    .btn-select:hover{
        border-bottom: 3px solid white;
        cursor: pointer;
        width: auto;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px){

    .product-description-left{
        margin-left: 7.5%;
        margin-right: 7.5%;
        position: relative;
        bottom: 85px;
    }
    .product-img{
        height: 480px;
    } 
    .product-description{
        display: flex;
        margin-top: 10px;
    }
    .product-description-left h1{
        font-size: 50px;
    }
    .product-description-left p{
        font-size: 20px;
    }
    .product-description-left span{
        margin-left: 15px;
        font-size: 20px;
    }
    .cuadro-mobile{
        display: none;
    }      
    .cuadro{
        display: inline;
        height: fit-content;
    }       
    .foto{
        margin-left: auto;
    }
    
}