@import url(/assets/css/fonts.css);

:root{
    --header-height: 5rem;

    /*colors*/

    --first-color: #E6E7E8;
    --text-color: #2D69AC;
    --first-color-opacity:#0F243B;  

    /*font size*/

    --body-font: 'montserratregular';
    --biggest-font-size:2.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size: .75rem;

    /*font weight*/

    --font-medium: 500;
    --font-semi-bold:600;
    --font-bold: 700;

    /*margin*/

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*z index */

    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;   

}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size:4.5rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size: .813rem;
    }
}

/* base */

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color);
    color: var;
    line-height: 1.6;
}

h1,h2,h3,ul,p{
    margin: 0;
}
h2,h3{
    font-weight: var(--font-semi-bold);
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* layout */
.bd-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* nav */
.nav{
    background-color: var(--first-color);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
    .nav--menu{
        position: fixed;
        margin-top: var(--header-height);
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: var(--text-color);
        transition: .8s;
        box-shadow: 0 2px 4px rgba(0,0,0..1);
        border-radius: 0 0 1rem 1rem;
        opacity: .9;
    }
}
.nav--item{
    margin-bottom: var(--mb-4);
}
.nav--link{
    font-family: 'robotoregular';    
    color: var(--first-color);
    font-size: var(--normal-font-size);
}
.nav--link:hover{
    position: relative;
    color: white;
}
.nav--link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.11rem;
    left: 0;
    top: 20px;
    background-color: var(--first-color);
}
.nav--logo{
    color: var(--second-color);
}
.logo{
    height: 50px;
}
.nav--toggle{
    font-size: 1.5rem;
}
.icons-nav{
    /* visibility: hidden; */
    display: none;
    height: 0;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: 0.4s;
    font-size: 1.5rem;
    border-radius: 20%;
  }
/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
  }
  
/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-4px, -4px);
  }  
/* show menu */

.show{
    top: 0;
}

/* HOME MOBILE*/

/* carrusel */
.carrusel{
    width: 100%;
}

.carrusel--content{
    width: 100%;
    display: grid;
    z-index: var(--z-normal);  
}
.carrusel--content img{
    width: 100%;
}

/* Info About */

.info-about{
    height: 280px;
    background-image: url(../img/fondo-azul.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--first-color);
}
.info-about h1{
    font-family: 'montserratregular';
    font-size: 23px;
    font-weight: var(--font-bold);
    padding-top: var(--mb-4);
}
.info-about p{
    font-family: 'roboto_condensedlight';
    font-size: 15px;
    padding-top: var(--mb-4);
    padding-left: var(--mb-2);
    padding-right: var(--mb-2);
}

/* sections */

.info-container{
    padding-top: .5rem;
}
.info-description-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 25px;
}
.info-description-right h1{
    font-family: 'montserratbold';
    color: var(--text-color);
    font-size: 15px;
}
.info-description-right p{
    font-family: 'roboto_condensedregular';
    text-align: end;
}
.info-description-right img{
    width: 40px;
    margin-top: .5rem;
}

.info-description-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 25px;
}
.info-description-left h1{
    font-family: 'montserratbold';
    color: var(--text-color);
    font-size: 15px;
}
.info-description-left p{
    font-family: 'roboto_condensedregular';
    text-align: start;
}
.info-description-left img{
    width: 40px;
    margin-top: .5rem;
}

/* separador */
.icons-separador{
    display: none;
    height: 360px;
}
.arriba-separador{
    height: 130px;
}
.abajo-separador{
    height: 215px;
    background-color: var(--text-color);
}
.icons-separador img{
    width: 800px;
    margin: auto;
    position: relative;
    bottom: 80px;
}

/* footer */
.fondo-form{
    background-image: url(../img/fondo-azul2.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-content{
    margin-top: 10px;
}
.contact--form{
    position: relative;
    height: 255px;
}
.contact--title{
    font-family: 'montserratregular';
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin: var(--mb-1) 0;
    text-align: center;
}
.contact--inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 90%;
    margin: auto;
}
.contact-input, .contact--button{
    outline: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
.contact--input{
    width: 100%;
    padding: 1rem;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: var(--mb-1);
    background-color: unset;
    border-bottom: solid 2px white;
}
.contact--input::placeholder{
    color: var(--first-color);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}
.btn{
    text-align: center;
    position: relative;
    bottom: 30px;
}
.contact--button{
    font-family: 'montserratregular';
    cursor: pointer;
    border: none;
    background-color: #929497;
    color: var(--first-color);
}
.contact--button:hover{
    color: var(--text-color);
}

.msg{
    background-color: var(--first-color);
    width: 90%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px black;
    margin: auto;
    margin-top: 10px;
}

.pie{
    background-image: url(../img/fondo-footer.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-footer{
    width: 170px;
    margin: auto;
    margin-top: 6rem;
}
.pie h1{
    font-family: 'montserratlight';
    font-size: 15px;
    margin-top: 2rem;
    margin: auto;
    margin-top: 1rem;
    font-weight: 500;
}
.icon-phone{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-phone-a:hover{
    color: #25d366;
}
.icon-phone-a{
    display: flex;
    color: black;
    margin-top: 1px;
}
.icon-phone p{
    font-family: 'montserratlight';
}
.wp{
    font-size: 20px;
    background-color: #25d366;
    border-radius: 50%;
    color: white;
    padding: 0.1rem;
    margin-right: 10px;
}
.icons{
    margin: 15px auto;
    margin-top: 15px;
}
.icon-link{
    font-size: 25px;
    color: var(--text-color);
    margin: 1px;
    transition: .3s;
}
.icon-link:hover{
    color: blue;
    
}

/* media queries */
@media screen and (min-width: 768px){
    body{
        margin: 0;        
    }
    .bd-grid{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }  
    .nav{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    .nav--menu{
        background-color: var(--text-color);
        width: 100%;
    }
    .nav--logo{
        padding-top: 10px;
        padding-bottom: 5px;
        flex: 1;
    }
    .logo{
        padding-left: 50%;
    }
    .icons-nav{
        /* visibility: visible; */
        display: inline;
        padding-top: 20px;
        padding-right: 10px;
    }
    .nav--list{
        display: flex;
        padding-top: 0;
        justify-content: center;
        margin: 3px;
    }
    .nav--item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
        color: var(--first-color);
        font-family: 'robotoregular';
    }
    .menu-bars{
        display: none;
    }
    .nav--link{
        font-size: 15px;
    }
    .carrusel{
        margin-top: 97px;
    }

    .home-dsk{
        height: 100vh;
        display: flex;
        width: 100%;
    }
    .info-about h1{
        width: 80%;
        margin: auto;
        font-size: 30px;
    }
    .info-about p{
        width: 80%;
        margin: auto;
        font-size: 22px;
    }
    
    .info-card{
        display: flex;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .info-card img{
        height: 210px;
    }
    .info-description-right{
        align-items: flex-start;
        bottom: 0;
        width: 40%;
    }
    .info-description-right h1{
        font-size: 35px;
    }
    .info-description-right p{
        text-align: justify;
    }
    .info-description-right img{
        width: 45px;
        height: 20px;
    }

    .left-card{
        flex-direction: row-reverse;
    }
    .info-description-left{
        align-items: flex-end;
        bottom: 0;
        width: 40%;
    }
    .info-description-left h1{
        font-size: 35px;
    }
    .info-description-left p{
        text-align: justify;
    }
    .info-description-left img{
        width: 45px;
        height: 20px;
    }

    .icons-separador{
        display: inline;
    }

    .contact--form{
        width: 50%;
        margin: auto;
        height: 280px;
    }
    .msg{
        height: 200px;
    }
}

@media screen and (min-width: 1024px){

    .info-card img{
        height: 300px;
    }
    .info-description-left,
    .info-description-right{
        justify-content: center;
    }
    .info-description-right img,
    .info-description-left img {
        width: 45px;
        height: 20px;
    }    
}